bin
Bin
obj
sql
*.user
*.suo
_ReSharper*
dist
[Oo]utput]
*.dbmdl

*~

docs
packages
Artifacts

*.swp
TestResult.xml
*.testsettings
TestResults

*.dropbox
desktop.ini
*.publish.xml

*.mdf
*.ldf

#temp
*.app.config
[Aa]pp.config